@import '@/variables.scss';

.block {
  padding: 16px;
  border: 1px solid $primary;
  border-radius: 5px;
  height: min-content;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;

    &__title {
      font-size: 20px;
      font-weight: 500;
    }

    &__tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 8px;

      &__tag {
        font-size: 14px;
        font-weight: 400;
        color: $primary;
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      margin-left: auto;

      &__action {
        cursor: pointer;
      }
    }
  }

  &__languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;

    &__language {
      cursor: pointer;
      padding: 8px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      &--active {
        background: $primary;
        color: $background;
      }
    }
  }

  &__code {
    padding: 16px;
    background: $primary;
    color: $code-color;
    white-space: pre-wrap;
    line-height: 125%;
    border-radius: 5px;
    border-top-left-radius: 0;
    font-size: 14px;
  }
}