@import '@/variables.scss';

.page {
  width: 100%;
  min-height: 100vh;
  
  background: $background;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 16px;

    &__upper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin-top: 32px;

      &__text {
        font-size: 48px;
        font-weight: normal;
      }
    }

    &__lower {
      display: flex;
      font-size: 22px;
      font-weight: 300;
    }
  }

  &__search {
    margin-top: 32px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
  }

  &__switch {
    width: calc(100% - 128px);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;

    &__option {
      border: 1px solid $primary;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      cursor: pointer;

      &--active {
        background: $primary;
        color: $background;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  &__elements {
    margin: 32px 64px;
    width: calc(100% - 128px);
    columns: 2;
    gap: 64px;
  }
}