@import './variables.scss';

.page {
  width: 100%;
  min-height: 100vh;
  
  background: $background;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 16px;

    &__upper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin-top: 32px;

      &__text {
        font-size: 48px;
        font-weight: normal;
      }
    }

    &__lower {
      display: flex;
      font-size: 22px;
      font-weight: 300;
    }
  }

  &__search {
    margin-top: 32px;
    width: 370px;
  }

  &__codes {
    margin: 32px 64px;
    width: calc(100% - 128px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }
}